/* Chia layout thành hai cột */
.col-md-6 {
    width: 50%;
    float: left;
    box-sizing: border-box;
}

/* Định dạng hình ảnh */
.pro-img-details img {
    max-width: 100%;
    height: auto;
}

/* Định dạng phần thông tin bên phải */
.col-md-6 {
    padding: 20px;
}

.pro-d-title {
    margin-top: 0;
}

.product_meta {
    margin-top: 20px;
}

.m-bot15 {
    margin-bottom: 15px;
}

#quantityAvailable {
    color: #999;
    font-size: 12px;
}

#checkout {
    background-color: #d9534f;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

#checkout:hover {
    background-color: #c9302c;
}

.fa-shopping-cart {
    margin-right: 5px;
}
