/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Oct 11, 2023, 10:53:17 AM
    Author     : Admin
*/


  
  .user-info {
    max-width: 400px;
    margin: 0 0 0 50px;
  }
  
  .info-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  
  label {
    flex: 1;
    font-weight: bold;
    margin-right: 10px;
    font-size: 13px;
    
  }
  
  input, textarea {
    flex: 2;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ededed;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 800;
    width: 100%; /* Ensure the input and textarea take full width */
    
    background: #ededed
  }
  
  textarea {
    height: 100px; /* Set a specific height for the textarea */
  }
  
  input:focus, textarea:focus {
    border-color: #00a205;
    outline: none;
  }
/*  h1{
    position: relative;
    text-align: center;
    font-size: 25px;
    margin-top: 30px;
    font-weight: 800;
    line-height: initial;

  }

  h1::after {
    content: "";
    background: #000;
    display: block;
    width: 60px;
    height: 4px;
    margin: 20px auto;
    
  }*/

/*  h2{
    font-size: 15px;
    margin-top: 50px;
    margin-left: 50px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    font-weight: 900;
    padding-bottom: 10px;
    letter-spacing: 1px;
    
  }

  h3{
    font-size: 16px;
    font-weight: bold;
    margin-top: 52px;
    letter-spacing: 1px;    
  }

  h4{
    font-size: 14px;
    font-weight: bold;
    margin: 0px;
  }

  h5{
    text-align: center;
    font-size: 14px;
    font-weight: 900;
    background: #bbffc8;
    padding: 10px;
    margin:0px;
    text-transform: uppercase;
  }*/

  .links a {
    color: black; /* Màu chữ ban đầu */
    text-decoration: none; /* Loại bỏ gạch chân mặc định cho liên kết */
    font-size: 13px;
    font-weight: bold;
  }
  
  .links a:hover {
    color: green; /* Màu chữ khi di chuột qua */
  }
  .custom-button {
    margin-top: 20px;
    font-weight: 900;
    padding: 5px 14px; /* Điều chỉnh padding để nút nhỏ hơn */
    font-size: 14px;
    background-color: white; /* Màu nền trắng */
    color: #00b916; /* Màu chữ xanh */
    border: 2px solid #00b916; /* Viền bo màu xanh */
    border-radius: 5px;
    cursor: pointer;
  }
  
  .custom-button:hover {
    background-color: #00b916; /* Màu nền xanh khi di chuột vào */
    color: white; /* Đổi màu chữ thành trắng khi di chuột vào */
  }

  .left{
    width: 35%;
  }
  .right{
    width: 65%;
  }

  .large_view{
    display: flex;
  }
  b{
    font-size: 14px;
  }

  p{
    font-size: 13px;
    font-weight: bold;
  }

  .title-name{
    background-color: #bbffc8;
    border-color: #bbffc8;
    padding: 10px 65px 10px 10px;
    position: relative;

  }

  .address-user{
    background-color: #fbfbfb;
    border-color: #bbffc8;
    padding: 10px 65px 10px 10px;
    position: relative;
  }

  .table{
    margin-top: 50px;
  }

  .clearfix{
    margin-bottom: 15px;
  }

  .input-table{
    background-color: #fbfbfb;
    padding:15px;
  }
 
  .input-address{
    margin-bottom: 15px;
    border: 1px solid #bbffc8;
  }

  #address-heading {
    cursor: pointer;
}


.info-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.info-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}



